-<!-- File: ./templates/info.html -->
   <!DOCTYPE html>
   <html lang="en">
   <style>
   </style>
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
     <title>COVID-19</title>
   </head>
   <p class="mx-auto text-center">COVID-19, commonly referred to as coronavirus, is a zoonotic disease spreading rapidly
    through the world.

    What is COVID-19, and why do you use that name instead of coronavirus?

    What people today are calling 'coronavirus' is technically classified as COVID-19, a specific
    virus within the coronavirus family. A coronavirus, broadly, can fall anywhere on a wide spectrum from
    illnesses as unassuming as the common cold to more scary and harmful diseases such as Middle East
    Respiratory Syndrome. COVID-19 reportably has a mortality rate of 3.4%, making it over 30 times as
    dangerous as an some seasonal flus. That means that while it's not as dangerous to have as, say, Ebola
    or HIV, and it's not likely to kill you individually, it's severe enough to be concerning.

    If it's not as bad to catch as Ebola or HIV, why do we care so much about it?

    When looking at how dangerous a disease can be to a population, you have to look at different statistics
    than what make it dangerous to an indiviudal. While it's true that COVID-19 isn't as lethal to somebody
    who happens to catch it as Ebola or HIV, it's important to look at how many people have caught the disease
    in what period of time. Since the end of January, roughly 100,000 people have caught COVID-19. That's an
    average of several thousand new cases every single day. In comparison, HIV only infects roughly 100 people
    in the US per day on average, and as for Ebola, even outbreaks- defined as unusually large, sudden bursts of
    infections- usually don't bring the rate of spread far above 10 people per day on average. In other words,
    COVID-19 may not be lethal all the time, but it's spreading worryingly quickly, which makes it extremely
    dangerous to society. When a disease behaves like this, suddenly spreading over a wide portion of the world,
    we call it a 'pandemic'.

    What are the symptoms of COVID-19?

    What can I do to minimize my chances of catching COVID-19?

    What can I do to help people with COVID-19?
    </p>
